### Lists

In [6]:
# list is ordered
lst1 = [2,3,4,-1]
lst2 = [3,2,4,-1]
#lst1 == lst2
lst1 is lst2

False

In [3]:
# list can contain different types or even objects
lst = [2, 'girl', -3.56, True, len]
print(lst3)

[2, 'girl', -3.56, True, <built-in function len>]

In [4]:
# elements of a list don't need to be unique
lst = [1,1,1,0,9,6]

In [6]:
# indexing
print(lst[0])
print(lst[1])
print(lst[-1])

1
1
6

In [8]:
# slices
lst[1:4]

[1, 1, 0]

In [9]:
lst[-3:-1]

[0, 9]

In [10]:
lst[:-2]

[1, 1, 1, 0]

In [13]:
lst[3:len(lst)-1]

[0, 9]

In [14]:
lst[1:4:2]

[1, 0]

In [16]:
lst[::-2]

[6, 0, 1]

In [17]:
lst[:]

[1, 1, 1, 0, 9, 6]

In [18]:
9 in lst

True

In [19]:
-3 not in lst

True

In [20]:
# concatenation (+) and replication (*) operators
lst1 + lst2

[2, 3, 4, -1, 3, 2, 4, -1]

In [26]:
lst * 3

[1, 1, 1, 0, 9, 6, 1, 1, 1, 0, 9, 6, 1, 1, 1, 0, 9, 6]

In [27]:
len(lst)

6

In [28]:
min(lst)

0

In [29]:
max(lst)

9

In [57]:
# nesting
lst = [2, 3, [3, 4, [-1, 0], 1], 0]

In [58]:
print(lst[0])
print(lst[2])

2
[3, 4, [-1, 0], 1]

In [59]:
print(lst[2][0])
print(lst[2][2][0])

3
-1

In [60]:
# list is mutable
lst[0] = 3
lst

[3, 3, [3, 4, [-1, 0], 1], 0]

In [61]:
del lst[0]
lst

[3, [3, 4, [-1, 0], 1], 0]

In [62]:
# replacement of slice with <iterable>
lst[1:] = [3]
lst

[3, 3]

In [63]:
# methods that modify a list
lst.append(4)
lst

[3, 3, 4]

In [64]:
lst.extend([-1,0])
lst

[3, 3, 4, -1, 0]

In [65]:
lst.insert(1,-3)
lst

[3, -3, 3, 4, -1, 0]

In [66]:
lst.remove(3)
lst

[-3, 3, 4, -1, 0]

### Tuples

In [67]:
tup = (1,2,3,-2)

In [68]:
tup[2]

3

In [70]:
# tuples are unmutable!
tup[2] = 1

In [71]:
tup = (1, [2,3], 0)
tup[1][1]

3

In [72]:
1, 2.8, 3

(1, 2.8, 3)

In [2]:
tup = tuple()
type(tup)

tuple

In [3]:
tup = (2,3)
type(tup)

tuple

In [5]:
tup = (2)
type(tup)

int

In [6]:
tup = (2,)
type(tup)

tuple

In [7]:
len(tup)

1

In [10]:
t = (2,3,4,-8)
lst = list(t)
lst

[2, 3, 4, -8]

In [11]:
lst = [2,3,4]
t = tuple(lst)
t

(2, 3, 4)

In [12]:
# swap
a = 2
b = -4
a, b

(2, -4)

In [13]:
a, b = b, a

In [14]:
a, b

(-4, 2)

### Sets

In [7]:
# set is unordered
s = {1,2,3}
type(s)

set

In [8]:
s[0]

TypeError: 'set' object is not subscriptable

In [20]:
# empty set
s = {}
type(s)

dict

In [21]:
s = set()
type(s)

set

In [24]:
s = {1,2,3,1,2}
len(s)

3

In [43]:
# union of two sets
s1 = {2,3,-1,0}
s2 = {1,2}
s1 | s2

{-1, 0, 1, 2, 3}

In [44]:
s1.union(s2)

{-1, 0, 1, 2, 3}

In [45]:
# intersection of two sets
s1 & s2

{2}

In [46]:
s1.intersection(s2)

{2}

In [47]:
# difference of two sets
s1 - s2

{-1, 0, 3}

In [48]:
s1.difference(s2)

{-1, 0, 3}

In [49]:
# symmetric difference
s1 ^ s2

{-1, 0, 1, 3}

In [50]:
s1.symmetric_difference(s2)

{-1, 0, 1, 3}

In [51]:
# is subset
s1 < s2

False

In [52]:
s1.issubset(s2)

False

In [53]:
# modification of set (set is mutable)
s1.update({7,5})
s1

{-1, 0, 2, 3, 5, 7}

In [54]:
s1.add(8)
s1

{-1, 0, 2, 3, 5, 7, 8}

In [55]:
s1.remove(0)
s1

{-1, 2, 3, 5, 7, 8}

### Dictionaries

In [57]:
dct = {'first': 23, 
      'second': 12,
      'third': -137}
type(dct)

dict

In [59]:
# accessing dictionary values
dct['second']

12

In [60]:
# building a dictionary incrementally
student = {}
student['name'] = 'Petro'
student['sex'] = 'M'
student['age'] = 20
student['pets'] = ['dog', 'parrot']
student['marks'] = {'math': 65,
                   'english': 83,
                   'physics':70,
                   'arts': 100}
student

{'name': 'Petro',
 'sex': 'M',
 'age': 20,
 'pets': ['dog', 'parrot'],
 'marks': {'math': 65, 'english': 83, 'physics': 70, 'arts': 100}}

In [61]:
student['pets'][0]

'dog'

In [62]:
# restrictions on dictionary keys: duplicate keys are not allowed, keys must be immuable
d = {(1,2): True,
    (3,-1): False}

In [63]:
len(d)

2

In [64]:
d.items()

dict_items([((1, 2), True), ((3, -1), False)])

In [68]:
list(d.items())[0]

((1, 2), True)

In [69]:
d.keys()

dict_keys([(1, 2), (3, -1)])

In [70]:
list(d.keys())[1]

(3, -1)

In [71]:
d.values()

dict_values([True, False])

In [72]:
list(d.values())[1]

False

In [77]:
d.update([(2, False), ('function', len)])
d

{(1, 2): True, (3, -1): False, 2: False, 'function': <function len(obj, /)>}

In [78]:
d['function'](d)

4

Further reading: https://habr.com/ru/post/319164/

### List comprehensions

In [80]:
# [ expression for item in <iterable> if condition ]

In [91]:
lst = [i**2 for i in (2,4,5)]
lst

[4, 16, 25]

In [96]:
lst = [i+2 for i in range(1,100,2) if i<12]
lst

[3, 5, 7, 9, 11, 13]

In [99]:
lst1 = ['cat', 'dog', 'parrot']
lst2 = [word.upper() for word in lst1 if word.endswith('t')]
lst2

['CAT', 'PARROT']

In [102]:
lst = ['-12', '2', '45', 'root']
[i for i in lst if i.isdigit()]

['2', '45']

### Functions

In [105]:
# Built-in functions
min([3,5,6])

3

In [106]:
# user-defined functions (UDFs)
def minus_1(a):
    return a-1

In [107]:
minus_1(100)

99

In [108]:
def hello():
    print("Hello!")

In [109]:
hello()

Hello!

In [110]:
# docstrings: describe what your function does
def hello():
    """
    Prints 'Hello World'
    Returns: 'hello'
    """
    print('Hello World')
    return('hello')

In [111]:
hello()

Hello World

'hello'

In [112]:
# default arguments
def plus(a, b=1):
    return a + b

In [113]:
plus(1)

2

In [114]:
plus(1,100)

101

In [116]:
# variable number of arguments
def division_by_2(*args):
    for i in args:
        print(i / 2)

In [117]:
division_by_2(1,2,0,4)

0.5
1.0
0.0
2.0

In [118]:
# global vs local variables
x = 10
def product(*args):
    y = 1
    for i in args:
        y *= i
        i += 1
    return y

In [119]:
x

10

In [121]:
y

In [123]:
product(2, 4, 10)

80

### Lambda functions

In [134]:
double = lambda x: x*2
double(3)

6

In [136]:
square_root = lambda x: x**0.5 if x >= 0 else print('Check input!')

In [137]:
square_root(5)

2.23606797749979

In [138]:
square_root(-1)

Check input!

In [139]:
difference = lambda x, y: x-y

In [140]:
difference(4,5)

-1

In [141]:
lst = [1,8,23]

In [145]:
list(map(square_root, lst))

[1.0, 2.8284271247461903, 4.795831523312719]

In [146]:
list(map(lambda x: x**2+1, lst))

[2, 65, 530]

In [147]:
list(filter(lambda x: (x**2 > 10), lst))

[8, 23]